<!-- home.component.html -->

<div class="container-fluid p-0">
  <!-- Hero section -->
  <section class="jumbotron text-center text-white">
    <div class="container">
      <h1 class="display-4"></h1>
      <p class="lead"></p>
      <app-nav></app-nav>
    </div>
  </section>

  <!-- Features section -->
  <section class="container my-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="assets/fire2.jfif"
            class="card-img-top"
            alt="Feature 1 image"
          />
          <div class="card-body">
            <h5 class="card-title">Comprendre l'impact des feux de forêt</h5>
            <p class="card-text">
              Les feux de forêt sont un phénomène naturel qui peut avoir des
              effets positifs et négatifs sur les écosystèmes. Alors que
              certains incendies sont nécessaires pour la santé de certains
              écosystèmes, d'autres peuvent causer des dommages importants.
              L'impact des feux de forêt peut être observé dans différents
              aspects.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="assets/fire1.jfif"
            class="card-img-top"
            alt="Feature 2 image"
          />
          <div class="card-body">
            <h5 class="card-title">
              Les effets dévastateurs des feux de forêt
            </h5>
            <p class="card-text">
              Les feux de forêt détruisent les habitats et perturbent les
              écosystèmes, entraînant le déplacement et la perte de nombreuses
              espèces végétales et animales. Cette perte de biodiversité peut
              avoir des conséquences écologiques à long terme.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="assets/hrimi.jfif"
            class="card-img-top"
            alt="Feature 3 image"
          />
          <div class="card-body">
            <h5 class="card-title">Destruction des ressources forestières</h5>
            <p class="card-text">
              Les forêts fournissent des ressources précieuses telles que le
              bois, les plantes médicinales et les sources de nourriture.
              Lorsque les incendies ravagent ces zones, la perte de ces
              ressources peut avoir des impacts économiques et culturels sur les
              communautés qui en dépendent.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- home.component.html -->
    <!-- ... -->
    <!-- Heart statistics section -->
    <section class="container my-5">
      <h2 class="mb-4">Tendances des feux de forêt au cours des 10 dernières années
      </h2>
      <p>
        <!-- Visualisez l'impact de l'acromégalie et des adénomes somatotropes à travers cette courbe informative -->
      </p>
      <app-heart-stats></app-heart-stats>
    </section>
    <h3 class="mt-5">Follow us on social media:</h3>
    <div class="d-flex justify-content-center">
      <a
        href="https://www.facebook.com/tegvt"
        target="_blank"
        class="mx-2"
        ><i class="fab fa-facebook fa-2x"></i
      ></a>
      <a href="https://www.instagram.com/fcbayern" target="_blank" class="mx-2"
        ><i class="fab fa-instagram fa-2x"></i
      ></a>
      <a href="https://twitter.com/fcbayern" target="_blank" class="mx-2"
        ><i class="fab fa-twitter fa-2x"></i
      ></a>
    </div>
  </section>

  <!-- Call-to-action section -->
  <section class="bg-light py-5">
    <div class="container text-center">
      <h2 class="mb-4" style="color: white">
        Ensemble, défendons-nous contre les incendies
      </h2>
      <a class="btn btn-primary" routerLink="/signup">Sign up now</a>
    </div>
  </section>
</div>
