<!-- home.component.html -->

<div class="container-fluid p-0">
  <!-- Hero section -->
  <section class="jumbotron text-center bg-primary text-white">
    <div class="container">
      <h1 class="display-4"></h1>
      <p class="lead"></p>
      <app-nav></app-nav>
    </div>
  </section>

  <!-- Features section -->
  <section class="container my-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="assets/fire2.jfif"
            class="card-img-top"
            alt="Feature 1 image"
          />
          <div class="card-body">
            <h5 class="card-title">Soins personnalisés</h5>
            <p class="card-text">
              Notre plateforme propose des soins et un soutien personnalisés
              pour vous aider à gérer et surveiller votre traitement.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="assets/fire1.jfif"
            class="card-img-top"
            alt="Feature 2 image"
          />
          <div class="card-body">
            <h5 class="card-title">
              Quels sont les caractéristiques de l'acromégalie ?
            </h5>
            <p class="card-text">
              L'acromégalie est une maladie qui se caractérise par une
              croissance exagérée du visage et des extrémités lorsqu'elle se
              manifeste après la puberté, et par une très grande taille
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="assets/hrimi.jfif"
            class="card-img-top"
            alt="Feature 3 image"
          />
          <div class="card-body">
            <h5 class="card-title">Consultations à distance</h5>
            <p class="card-text">
              Connectez-vous avec des professionnels de la santé expérimentés
              depuis le confort de votre domicile, garantissant des conseils et
              un traitement opportuns.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- home.component.html -->
    <!-- ... -->
    <!-- Heart statistics section -->
    <section class="container my-5">
      <h2 class="mb-4">Acromégalie ou adénome somatotrope</h2>
      <p>
        <!-- Visualisez l'impact de l'acromégalie et des adénomes somatotropes à travers cette courbe informative -->
      </p>
      <app-heart-stats></app-heart-stats>
    </section>
    <h3 class="mt-5">Follow us on social media:</h3>
    <div class="d-flex justify-content-center">
      <a
        href="https://www.facebook.com/profile.php?id=100091668970286"
        target="_blank"
        class="mx-2"
        ><i class="fab fa-facebook fa-2x"></i
      ></a>
      <a href="https://www.instagram.com/fcbayern" target="_blank" class="mx-2"
        ><i class="fab fa-instagram fa-2x"></i
      ></a>
      <a href="https://twitter.com/fcbayern" target="_blank" class="mx-2"
        ><i class="fab fa-twitter fa-2x"></i
      ></a>
    </div>
  </section>

  <!-- Call-to-action section -->
  <section class="bg-light py-5">
    <div class="container text-center">
      <h2 class="mb-4" style="color: white">
        Ready to start monitoring your heart health?
      </h2>
      <a class="btn btn-primary" routerLink="/signup">Sign up now</a>
    </div>
  </section>
</div>
