<!-- Side navigation-->
<div class="sidenav">
  <a href="/admin">Admin Dashboard</a>
  <a class="nav-link" routerLink="/doctorsback">gerer les utilisateurs</a>
  <a class="nav-link" routerLink="/patientback">notifications</a>
  <a class="nav-link" routerLink="/rdv">Articles</a>
  <a class="nav-link" routerLink="/">Logout</a>
</div>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="navbar"></div>
<div class="main">
  <router-outlet></router-outlet>
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Edit Profile</h4>
              <p class="card-category">Complete your profile</p>
            </div>
            <div class="card-body">
              <form>
                &lt;!&ndash; Other form fields &ndash;&gt;
                <div class="col-md-4">
                  <input
                    matInput
                    placeholder="User ID"
                    name="User_Id"
                    [(ngModel)]="user.idUser"
                  />
                </div>
                <div class="col-md-4">
                  <input
                    matInput
                    placeholder="First Name"
                    name="nom"
                    [(ngModel)]="user.nom"
                  />
                </div>
                <div class="col-md-4">
                  <input
                    matInput
                    placeholder="Last Name"
                    name="prenom"
                    [(ngModel)]="user.prenom"
                  />
                </div>
                <div class="col-md-4">
                  <input
                    matInput
                    placeholder="Email"
                    name="mail"
                    [(ngModel)]="user.mail"
                  />
                </div>
                <div class="col-md-4">
                  <input
                    matInput
                    placeholder="phone number"
                    name="numero"
                    [(ngModel)]="user.numero"
                  />
                </div>
                <button
                  mat-raised-button
                  type="submit"
                  class="btn btn-danger pull-right"
                  (click)="updateUser()"
                >
                  Update Profile
                </button>
                <div class="clearfix"></div>
              </form>
              <div class="col-md-4">
                <div class="card card-profile" style="margin-top: 60px">
                  <div class="card-avatar">
                    <img class="img" [src]="user.photo" />
                    <form>
                      <input
                        type="file"
                        (change)="onFileSelected($event)"
                        style="display: none"
                        #fileInput
                      />
                    </form>
                  </div>
                  <div class="card-body">
                    <h6 class="card-category text-gray">{{ user.role }}</h6>
                    <h4 class="card-title">{{ user.nom }}</h4>
                    <p class="card-description"></p>
                    <button
                      class="btn btn-primary btn-round"
                      (click)="fileInput.click()"
                    >
                      Change Photo
                    </button>
                    <button
                      class="btn btn-success btn-round"
                      (click)="updateUser()"
                    >
                      Upload
                    </button>
                  </div>
                  =
                </div>
              </div>

              <!-- <div class="grid">
  <div class="col-12">
    <div class="card">
      <p-menubar [model]="items"></p-menubar>
    </div>
  </div>
  <div class="col-9">
    <div class="card p-fluid pl-2">
      <h5 class="mt-3" style="text-align: center; color: gray">Profile</h5>
      <br>
      <div class="p-formgrid grid">
        <div class="field col">
          <h5 style="color: gray">User Id :</h5>
        </div>
        <div class="field col">
          <h6>{{user.idUser}}</h6>
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <h5 style="color: gray">First Name :</h5>
        </div>
        <div class="field col">
          <h6>{{user.nom}}</h6>
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <h5 style="color: gray">Last Name :</h5>
        </div>
        <div class="field col">
          <h6>{{user.prenom}}</h6>
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <h5 style="color: gray">Email Address :</h5>
        </div>
        <div class="field col">
          <h6>{{user.mail}}</h6>
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <h5 style="color: gray">Phone Number :</h5>
        </div>
        <div class="field col">
          <h6>{{user.numero}}</h6>
        </div>
      </div>
      <div style="text-align: center;padding-bottom: 3px">
        <button pButton pRipple label="Edit Profile" (click)="editProfileD=true" style="margin-top: 30px;width: 200px"></button>
      </div>
    </div>
  </div>

    <div class="main">
        <div class="col-5">
          <div class="card card-profile" style="margin-top: 110px;position: fixed">
            <div class="card-avatar">
              <!-- Bind the src attribute of the img element to the user's profile picture URL -->
              <!-- <img class="img" [src]="user.photo" /> -->
              <!-- Add a form for the file input and an event listener for the onFileSelected method -->
              <!-- <form> -->
              <!-- <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput>
              </form> -->
              <!-- </div>
            <div class="card-body"> -->
              <!-- Bind the text content of the elements displaying the user name and role to the corresponding properties of the user object -->
              <!-- <h6 class="card-category text-gray">{{ user.role }}</h6>
              <h4 class="card-title">{{ user.nom }}</h4>
              <p class="card-description">
                xxxx -->
              <!-- </p> -->
              <!-- Add a button to trigger the uploadProfilePicture method -->
              <!-- <button class="btn btn-primary btn-round" (click)="fileInput.click()">Change Photo</button>
              <button class="btn btn-success btn-round" (click)="updateUser()">Upload</button>
            </div>
          </div>
        </div>
        </div> -->

              <!-- <div class="col-6">
    <div class="card">
      <div class="flex justify-content-center">
        <p-chart type="doughnut" [data]="data" [options]="options" width="300px" height="250px"></p-chart>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="flex justify-content-center">
        <p-chart type="doughnut" [data]="data2" [options]="options2" width="300px" height="250px"></p-chart>
      </div>
    </div>
  </div>

  <p-dialog [(visible)]="editProfileD" [style]="{width: '450px'}" header="Information" [closable]="false" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label>User Id :</label>
        <input type="number" pInputText [(ngModel)]="user.idUser"/>
      </div>
      <div class="field">
        <label>First Name :</label>
        <input type="text" pInputText [(ngModel)]="user.nom"/>
      </div>
      <div class="field">
        <label>Last Name :</label>
        <input type="text" pInputText [(ngModel)]="user.prenom"/>
      </div>
      <div class="field">
        <label>Email Address :</label>
        <input type="text" pInputText [(ngModel)]="user.mail"/>
      </div>
      <div class="field">
        <label>Phone Number :</label>
        <input type="text" pInputText [(ngModel)]="user.numero"/>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="editProfileD=false"></button>
      <button pButton pRipple label="Save" icon="pi pi-check"  class="p-button-text" (click)="updateUser()"></button>
    </ng-template>
  </p-dialog>


</div> -->
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
