<!--<div class="container">-->
<!--    <div class="row justify-content-center">-->
<!--      <div class="col-md-6">-->
<!--        <div class="card mt-5">-->
<!--          <div class="card-header bg-primary text-white text-center">-->
<!--            <h4>Sign Up</h4>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <form class="form-signin">-->
<!--              <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>-->
<!--              <label for="fName" class="sr-only">First name</label>-->
<!--              <input type="text" name="nom"-->
<!--              [(ngModel)]="user.nom"class="form-control"-->
<!--              required #p="ngModel" placeholder="First name">-->
<!--              <label for="lName" class="sr-only">Last name</label>-->
<!--              <input type="text" name="prenom"-->
<!--              [(ngModel)]="user.prenom"class="form-control"-->
<!--              required #p="ngModel" placeholder="Last Name">-->
<!--                <label for="inputEmail" class="sr-only">Email address</label>-->
<!--                <input type="text" name="mail"-->
<!--                [(ngModel)]="user.mail"class="form-control"-->
<!--                required #p="ngModel" placeholder="E-mail">-->
<!--                <label for="inputEmail" class="sr-only">Role</label>-->
<!--                <input type="text" name="role"-->
<!--                [(ngModel)]="user.role"class="form-control"-->
<!--                required #p="ngModel" placeholder="Your Role">-->
<!--              <label for="inputPassword" class="sr-only">Password</label>-->
<!--              <input type="text" name="password"-->
<!--              [(ngModel)]="user.password"class="form-control"-->
<!--              required #p="ngModel" placeholder="Password">-->
<!--              <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" (click)="saveUser()">Sign Up</button>-->
<!--              <p class="mt-5 mb-3 text-muted">I Have an Account Already <a [routerLink]="['/login']" href="#">Login</a></p>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <h3 class="mb-2">Create your account</h3>
                <form [formGroup]="Form">
                  <div class="form-outline mb-4">
                    <label class="form-label">First Name</label>
                    <input
                      type="email"
                      formControlName="nom"
                      class="form-control"
                      placeholder="First Name"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Last Name</label>
                    <input
                      type="email"
                      formControlName="prenom"
                      class="form-control"
                      placeholder="Last Name"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Email Address</label>
                    <input
                      type="email"
                      formControlName="mail"
                      class="form-control"
                      placeholder="Email address"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Role </label>
                    <input
                      type="text"
                      formControlName="role"
                      class="form-control"
                      placeholder=" Admin / User"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Password</label>
                    <input
                      type="password"
                      formControlName="password"
                      class="form-control"
                      placeholder="Password"
                    />
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <p-button
                      label="Create"
                      [disabled]="!Form.valid"
                      (click)="saveUser()"
                    ></p-button>
                    <div class="mt-1">
                      <a class="text-muted" href="/">Home page</a>
                    </div>
                  </div>
                </form>
                <!--                <div class="d-flex align-items-center justify-content-center pb-4">-->
                <!--                  <p class="mb-0 me-2" style="color: green ; font-size: 20px">{{message}}</p>-->
                <!--                </div>-->

                <div
                  class="d-flex align-items-center justify-content-center pb-4"
                >
                  <p class="mb-0 me-2">Back to login page</p>
                  <button
                    type="button"
                    class="btn btn-outline-danger"
                    routerLink="/login"
                  >
                    Login page
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">
                  Ensemble, défendons-nous contre les incendies
                </h4>
                <p class="small mb-0">Fire Forest</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
