<!--<div class="container-fluid" style="margin-top: 10%;">-->
<!--  <div class="row">-->
<!--    <div class="offset-lg-3 col-lg-6">-->

<!--<div class="card-box" style="background-color: #ccc;">-->
<!--    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">-->

<!--    <div class="row" style="display: block;">-->
<!--      <h2 style="text-align: center;" >Login</h2>-->
<!--    </div>-->

<!--  <div class="row">-->
<!--    <div class="offset-lg-3 col-lg-6">-->
<!--        <div class="form-group">-->
<!--            <label for="txtname">User Name</label>-->
<!--            <input type="text" ngModel #mail="ngModel" name="mail" id="userName"-->
<!--            placeholder="Enter your username" class="form-control mb-3"-->
<!--            [ngClass]="{ 'is-invalid': mail.invalid && mail.touched }" required>        </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="offset-lg-3 col-lg-6">-->
<!--        <div class="form-group">-->
<!--            <label for="txtpassword">password</label>-->
<!--            <input type="password" ngModel #password="ngModel" name="password"-->
<!--            id="password" placeholder="Enter your password" class="form-control mb-3"-->
<!--            [ngClass]="{ 'is-invalid error': password.invalid && password.touched }"-->
<!--            required>        </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <div class="offset-lg-3 col-lg-2">-->
<!--      <br>-->
<!--        <div class="form-group" style="text-align: center;">-->
<!--           <button type="submit" class="btn btn-primary btn-lg btn-block" >Login</button>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-lg-3">-->
<!--        <br>-->
<!--        <span></span>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->

<!--  </div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <h3 class="mb-2">login to your account</h3>

                <form [formGroup]="form">
                  <div class="form-outline mb-4">
                    <label class="form-label">Email Address</label>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email Address"
                      formControlName="mail"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      formControlName="password"
                    />
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <p-button
                      label="Login"
                      [disabled]="!form.valid"
                      (click)="login()"
                    ></p-button>
                    <div class="mt-1">
                      <a class="text-muted" href="/">Home page</a>
                    </div>
                  </div>

                  <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      routerLink="/signup"
                    >
                      Create new
                    </button>
                  </div>
                  <!--                  <div class="d-flex align-items-center justify-content-center pb-4">-->
                  <!--                    <p class="mb-0 me-2" style="color: red">{{message}}</p>-->
                  <!--                  </div>-->
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Ensemble, défendons-nous contre les incendies</h4>
                <p class="small mb-0">Fire Forests</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
